<h3>List Tasks</h3>
<section></section>
<section>
  <table border="1">
    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Priority</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="tasks-table">
      <tr *ngFor="let task of tasks">
<td>{{task.id}}</td>
<td>{{task.name}}</td>
<td>{{task.priority}}</td>
<td>{{task.createdDate}}</td>
<td>{{task.createdBy}}</td>
<td>{{task.status}}</td>
      </tr>

    </tbody>
  </table>
  <a href="addtask.html" data-toggle="modal" data-target="#modelId"
    >Add Task</a
  >
</section>
