<h3>Task Details</h3>
<section></section>
<section>
  <table border="1">
    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Priority</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Estimation(Hrs)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="tasks-table">
      <tr>
<td>{{task.id}}</td>
<td>{{task.name}}</td>
<td>{{task.priority}}</td>
<td>{{task.createdDate}}</td>
<td>{{task.createdBy}}</td>
<td>{{task.status}}</td>
<td>{{task.estimation}} Hrs</td>
<td>
  <a routerLink="/viewtask">Edit</a> &nbsp;
  <a routerLink="/viewtask" (click)="deleteTask()">Delete</a>
</td>

      </tr>


    </tbody>
  </table>

</section>
